@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Montserrat|Open+Sans+Condensed:300');

html,
body {
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    background-color: hsl(310, 100%, 93%);
  
}

h1 {
    text-align: center;
    font-family: 'Bungee Inline';
    color: hsl(332, 50%, 70%);
    text-shadow: white 0.2rem 0.2rem;
}

.formBox {
    font-family:'Open Sans Condensed';
    letter-spacing: .05rem;
    word-spacing: .05rem;
    text-align: center;
    color: black;
}

#btnSend,
#btnBack{
    font-family: 'Montserrat';
    align-content: center;
    color: black;
}

